body {
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}
h1 {
  color: blueviolet;
  line-height: 100px;
  font-weight: 900;
}
h2,
h4 {
  text-align: right;
  margin: 20px 100px;
}
h2 {
  color: blueviolet;
}
h4 {
  margin-bottom: -90px;
}
.today {
  display: block;
  margin: -10px 20px 20px;
  width: 300px;
}
div .col-9 {
  margin-top: 50px;
}
div .col-3 {
  margin-top: 50px;
}
div .card-header {
  text-align: center;
}
div .card-text {
  text-align: center;
}
